.form-group {
    position: relative;
    padding: 0 20px 0 10px;
}
.searchbox-icon {
    position: absolute;
    right: 25px;
    top: 6px;
    cursor: pointer;
}

.search-bar {
    font-size: 27px;
    text-align: center;
    width: 100%;
    box-shadow: -1px 1px 10px 0px #80808066;
    border-color: #80808024;
    border-width: 0.2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &:focus {
        outline: none;
    }

    margin: 0;
}