.form-group{
    position: relative;
    margin-top: 10px;
}
.searchbox-icon{
  position: absolute;
  right: 27px;
  top: 7px;
  cursor: pointer;
}
.search-bar {
    font-size: 27px;
    margin-left: 10px;
    text-align: center;
    width: calc(100% - 30px);
    box-shadow: -1px 1px 10px 0px #80808066;
    border-color: #80808024;
    border-width: 0.2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    &:focus {
        outline: none;
    }
}